{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
<style>
body {
  background-image: url('{{ asset('image/imagefond.jpg') }}');
  background-size: cover; 
}

.h1 {
    text-align: center;
    color: white;
}
.section {
  margin-left: 570px;
  width: 800px;
  opacity: 0.9;
}

.card {
    text-align: center;
}

.section2 {
    text-align: center;
}
</style>

    <h1 class="h1">Vue du Jeux </h1>

    <section class="section">
        <div class="card" style="width: 30%;">
            <img src="{{ asset('image/' ~ game.image) }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ game.name }} </h5>
              <p class="card-text"> note du jeux: {{ game.note }} </p>
              <p class="card-text">jeux de: {{ game.category }}</p>
              <p class="card-text">prix: {{ game.prix }}</p>
              <p class="card-text">Date de sortie: {{ game.date|date('Y-m-d') }}</p>
              <a href="{{ path('app_game_show', {'id': game.id}) }}" class="btn" style="background:#802B75; color:white;">Voir le jeux {{ game.id }}</a>
            </div>
        </div>
    </section>

    <section class="section2">
    <a href="{{ path('app_game_index') }}">back to list</a><br>
    <a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a><br>
    {{ include('game/_delete_form.html.twig') }}
    </section>

{% endblock %}
