{% extends 'base.html.twig' %}

{% block title %}Metaverse Blog{% endblock %}

{% block body %}
    <h1>Blog sujet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sujet</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sujet in sujets %}
            <tr>
                <td>{{ sujet.id }}</td>
                <td>{{ sujet.sujet }}</td>
                <td>{{ sujet.date ? sujet.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_sujet_show', {'id': sujet.id}) }}">show</a>
                    <a href="{{ path('app_sujet_edit', {'id': sujet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sujet_new') }}">Create new</a>
{% endblock %}
